<!DOCTYPE html>
<html>
  <head>{% include "head.html" %}</head>

  <body {% if bodyClass %}class="{{bodyClass}}"{% endif %}>

    {% block content %}{% endblock %}

    <!-- BEGIN sripts -->
    <script type="text/javascript" src="js/preloader.js"></script>
    <script type="text/javascript" src="lib/modernizr.custom.js"></script>
    <script type="text/javascript" src="js/vendor.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END sripts -->
  </body>
</html>
