<!DOCTYPE html>
<html>
  <head>{% include "head.html" %}</head>

  <body {% if bodyClass %}class="{{bodyClass}}"{% endif %}>

    {% block content %}{% endblock %}

    <!-- BEGIN sripts -->
    <script type="text/javascript" src="js/preloader.js"></script>
    <script type="text/javascript" src="lib/modernizr.custom.js"></script>
    <script type="text/javascript" src="lib/jquery.min.js"></script>
    <script type="text/javascript" src="lib/jquery.easing.min.js"></script>
    <script type="text/javascript" src="lib/jquery.maskedinput.min.js"></script>
    <script type="text/javascript" src="lib/jquery.transit.min.js"></script>
    <script type="text/javascript" src="lib/autosize.min.js"></script>
    <script type="text/javascript" src="lib/validetta.min.js"></script>
    <script type="text/javascript" src="lib/slick.min.js"></script>
    <script type="text/javascript" src="lib/snap.svg-min.js"></script>
    <script type="text/javascript" src="lib/ScrollMagic.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    {% for path in pageScripts %}<script type="text/javascript" src="{{path}}"></script>{% endfor %}
    <!-- END sripts -->
  </body>
</html>
