.carousel
  position: relative
  margin: 0 -150px 0 -100px
  padding: 0 150px 0 290px
  overflow: hidden
  .slick-list
    overflow: visible
  .slick-slide
    animation: fadein 0.5s ease 1
  &:before,
  &:after
    content: ""
    position: absolute
    z-index: 1
    top: 0
    width: 100px
    height: 100%
  &:before
    left: 0
    background: linear-gradient(to right, #2F2F2F 50%, rgba(47, 47, 47, 0) 100%)
  &:after
    right: 0
    background: linear-gradient(to left, #2F2F2F 50%, rgba(47, 47, 47, 0) 100%)


.carousel__items
  position: relative
  z-index: 0
  +clr

.carousel__item
  float: left
  width: 195px
  cursor: pointer
  box-sizing: border-box
  padding-right: 20px
  &:hover
    .carousel__icon
      color: $color-green
  &.slick-slide
    .carousel__item-text
      display: none


.carousel__item-text
  margin-top: 20px
  font-size: 14px
  color: $color-grey

.carousel__icon
  display: inline-block
  font-size: 68px
  color: $color-grey
  +trans(color)
  .slick-current &
    color: $color-green

.carousel__label
  display: block
  margin-top: 20px
  text-transform: uppercase
  +f(fd, 14, 100)

.carousel-line
  display: block
  height: 110px
  width: 2px
  background: rgba(white, 0.3)
  margin: 20px 0

.carousel-text-box
  max-width: 300px
  min-height: 350px
  color: $color-grey-lighter
  font-size: 14px
  line-height: 1.57
  &:before
    content: ""
    display: block
    height: 110px
    width: 2px
    background: rgba(white, 0.3)
    margin: 20px 0
  .slick-slide
    opacity: 0
    visibility: hidden
    transition: 0.5s ease
    transition-property: opacity, visibility
    pointer-events: none
    &.slick-current
      opacity: 1
      visibility: visible
      pointer-events: all
      user-select: initial

@keyframe fadein
  0%
    opacity: 0
  100%
    opacity: 1
