body
  background: $color-dark
  color: #FFF
  min-width: $width-content
  +f(agora-regular, 14)

a
  color: inherit

.out
  overflow: hidden

.hidden-text
  +hide-text

.link
  color: inherit
  +trans(color)
  &:hover,
  &:focus
    color: $color-green

.borders
  position: absolute
  z-index: 0
  top: 0
  left: 0
  right: 0
  bottom: 0

.borders:hover,
.draw-borders
  .border-top,
  .border-right,
  .border-bottom,
  .border-left
    &:before
      transform: translate3d(0,0,0)

.border-top,
.border-right,
.border-bottom,
.border-left
  position: absolute
  z-index: 0
  pointer-events: none
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  &:before
    content: " "
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: $color-green
    transition: transform $duration-draw-border ease


.border-top
  bottom: auto
  height: 2px
  &:before
    transform: translate3d(-100%,0,0)
    transition-delay: $duration-draw-border
    background-image: linear-gradient(to right, #00DDB7, #00E1C8)
  .borders:hover &,
  .draw-borders &
    &:before
      transition-delay: 0s

.border-right
  left: auto
  width: 2px
  &:before
    transform: translate3d(0,-100%,0)
    transition-delay: 0s
    background-image: linear-gradient(to bottom, #00E1C8, #00DBB0)
  .borders:hover &,
  .draw-borders &
    &:before
      transition-delay: $duration-draw-border

.border-bottom
  top: auto
  height: 2px
  &:before
    transform: translate3d(-100%,0,0)
    transition-delay: 0s
    background-image: linear-gradient(to right, #00D9A0, #00DBB0)
  .borders:hover &,
  .draw-borders &
    &:before
      transition-delay: $duration-draw-border

.border-left
  right: auto
  width: 2px
  &:before
    transform: translate3d(0,-100%,0)
    transition-delay: $duration-draw-border
    background-image: linear-gradient(to bottom, #00DDB7, #00D9A0)
  .borders:hover &,
  .draw-borders &
    &:before
      transition-delay: 0s


.green-color
  color: $color-green

.green-box
  background-color: $color-green
  background-image: $gradient-diagonal
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15)


.btn
  display: inline-block
  position: relative
  height: 40px
  line-height: 40px
  background: none
  +f(futura-demi, 12, 100)
  color: #FFF
  text-transform: uppercase
  text-decoration: none
  text-align: center
  overflow: hidden
  &:hover,
  &:focus
    .btn__fill
      transform: translate3d(0,0,0)

  &.-type-fluid
    display: block
    width: 100%

  &.-width-250
    width: 250px

.btn__text
  position: relative
  z-index: 1

.btn__fill
  position: absolute
  z-index: 0
  top: 0
  left: 0
  right: 0
  bottom: 0
  transform: translate3d(-100%,0,0)
  transition: transform 0.3s ease
  background: $gradient-diagonal


.btn-round
  position: relative
  height: 40px
  box-sizing: border-box
  background: none
  color: #FFF
  +f(futura-demi, 14, 100)
  text-transform: uppercase
  text-decoration: none
  box-shadow: inset 0 0 0 1px $color-green
  border-radius: 20px
  overflow: hidden
  text-align: center
  +gpu
  &:before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: 100%
    border-radius: 20px
    background-color: $color-green
    background-image: $gradient-diagonal
    transform: translate(-100%,0)
    transition: transform 0.3s ease
  &:hover,
  &:focus
    &:before
      transform: translate(0,0)

  &.-width-180
    width: 180px

