.slider-duo
  position: relative
  +clr

.slider-duo__nav-buttons
  position: relative
  z-index: 2
  max-width: 810px
  margin-left: -20px
  +wide
    max-width: 880px
    margin-left: -90px

.slider-duo__nav-prev,
.slider-duo__nav-next
  position: absolute
  top: 0
  background: none
  color: rgba(#FFF, 0.3)
  +trans(all)
  font-size: 24px
  height: 130px
  &:hover
    color: $color-green
  &.slick-disabled
    opacity: 0
    visibility: hidden

.slider-duo__nav-prev
  left: 0

.slider-duo__nav-next
  right: 0

.slider-duo__left
  position: relative
  z-index: 1
  float: left
  width: percentage(760/1140)
  min-height: 440px
  .slick-list
    overflow: visible

.slider-duo__left-inner
  margin-left: -1000px
  overflow: hidden
  +clr

.slider-duo__left-slides
  position: relative
  float: right
  max-width: 760px
  +clr
  &:before
    content: ""
    position: absolute
    z-index: -1
    top: 0
    right: 0
    bottom: 0
    background: $color-dark2
    left: 90px

.slider-duo__right
  position: relative
  z-index: 0
  float: right
  width: percentage(380/1140)
  .slick-list
    overflow: visible

.slider-duo__right-inner
  margin-right: -1000px
  overflow: hidden

.slider-duo__right-slides
  max-width: 340px
  position: relative
  left: -340px
  +clr


.slider-duo__slide-count
  display: block
  height: 190px
  +f(fh, 12, 100)
  color: $color-grey
  .current
    color: #FFF
    font-style: normal
  &:after
    content: ""
    display: block
    height: 110px
    margin: 30px 0
    border-left: 2px solid rgba(white, 0.3)


.slider-duo__slide-lg
  float: left
  width: 100%
  box-sizing: border-box
  padding: 30px 110px 60px 0
  &.slick-slide
    opacity: 0.5
    transition: 0.3s linear
    transition-property: filter, -webkit-filter, opacity
  &.slick-current
    opacity: 1
    transition-duration: 0s
    transition-delay: 0s
  .m-cssfilters &
    &.slick-slide
      opacity: 1
      filter: saturate(0)
    &.slick-current
      filter: none

.slider-duo__slide-sm
  float: left
  padding: 30px 0 0 60px
  box-sizing: border-box
  &.slick-slide
    .person__pic
      opacity: 0.5
  .m-cssfilters &
    &.slick-slide
      .person__pic
        opacity: 1
        filter: saturate(0)



.person
  color: #AAA
  position: relative
  z-index: 0
  +clr

  &.-size-sm
    .person__title,
    .person__name
      font-size: 15px
    .person__pic
      width: 95px
      height: 95px
      margin-bottom: 25px
    .course-info__label
      font-size: 12px
    .course-info__value
      font-size: 14px

  // &.-with-bg
  //   &:before
  //     display: none
  //     content: ""
  //     position: absolute
  //     z-index: -1
  //     top: -30px
  //     left: 90px
  //     right: -110px
  //     bottom: -60px
  //     background: $color-dark2

  .modal &
    max-width: 760px
    margin: 100px auto
    text-align: left
    position: relative
    .person__buttons
      display: none
    .person__more
      display: block
    &:before
      content: ""
      position: absolute
      z-index: -1
      top: -30px
      left: 90px
      right: -110px
      bottom: -60px
      background: $color-dark2

.person__left
  float: left
  width: 190px

.person__right
  float: right
  width: calc(100% - 240px)

.person__pic
  width: 190px
  height: 190px
  overflow: hidden
  margin-bottom: 40px
  img
    display: block
    max-width: 100%
    max-height: 100%

.person__name,
.person__title
  display: block
  +f(fh, 18, 100)
  text-transform: uppercase
  margin: 20px 0

.person__name
  color: #AAA

.person__title
  color: $color-grey
  &:not(:first-child)
    margin-top: 60px

.person__text
  font-size: 16px
  color: #AAA
  line-height: 1.375

.person__more
  margin-top: 60px
  display: none

.person__links
  color: #FFF
  line-height: 1.3
  > li
    position: relative
    padding-left: 90px
    &:before
      content: ""
      position: absolute
      top: 11px
      left: 0
      width: 60px
      height: 2px
      background: #FFF
      opacity: 0.3
  a
    display: inline-block
    text-decoration: none
    +f(fh, 16, 100)
    text-transform: uppercase
    color: #FFF
    +trans(color)
    &:hover
      color: $color-green

.person__buttons
  margin-top: 40px
  .btn
    display: block
    &:not(:first-child)
      margin-top: 20px


.timeline
  margin: 30px 0

.timeline__date
  display: block
  margin-bottom: 25px
  +f(fh, 12, 100)
  text-transform: uppercase
  color: #FFF

.timeline__body
  padding-left: 38px
  border-left: 2px solid rgba(white, 0.3)

.timeline__title
  display: block
  margin-bottom: 20px
  +f(fh, 16, 100)
  text-transform: uppercase
  color: #FFF
