<!-- BEGIN advantages -->
<section class="advantages">
  <div class="l">
    <h2 class="advantages__title">Преимущества <small class="title-small">учебного центра QA Start UP</small></h2>
    <div class="slider">
      {% for advantage in advantages %}<div class="slider-item">
        <span class="slider-item__count">{{ advantage.count }}</span>
        <strong class="slider-item__title">{{ advantage.title|safe }}</strong>
        <p class="slider-item__text">{{ advantage.text|safe }}</p>
      </div>{% endfor %}
    </div>
  </div>
</section>
<!-- END advantages -->
