<!-- BEGIN callback -->
<section class="callback l">
  <div class="callback__backlayer" data-parallax='{"delta":125,"shift":-75}'></div>
  <div class="callback__frontlayer">
    <h3 class="callback__title">
      <span class="text-gradient">Сделай</span>
      <small class="text-gradient">первый шаг к мечте!</small>
    </h3>
    <div class="callback__form">
      <div class="callback__text-block">
        <p>Оставь свои контакты и наш менеджер свяжется с тобой<br>для определения уровня и выбора курса.</p>
        <strong>Количество мест в групе ограничено!</strong>
      </div>
      <form class="form">
        <div class="field">
          <input class="input" type="text" name="name" id="name">
          <label class="input-label" for="name">Ваше имя</label>
        </div>
        <div class="field">
          <input class="input" type="tel" name="name" id="tel">
          <label class="input-label" for="tel">Ваш номер телефона</label>
        </div>
        {{ mixins.btn("Получить знания", "-type-filled -width-fluid", "submit") }}
      </form>
      <div class="callback__msg">
        <div class="callback__text-block">
          <strong>Спасибо!</strong>
          <p>Наш менеджер свяжется с Вами на протяжении 24 часов.</p>
        </div>
        <button class="link -underline-dashed" type="button">Вернуться Назад</button>
      </div>
    </div>
  </div>
</section>
<!-- END callback -->
