<!-- BEGIN contacts -->
<section class="contacts">
  <div id="map" class="contacts__map"></div>
  <div class="contacts__inner l">
    <h3 class="contacts__title" data-parallax='{"delta":-100,"shift":50}'>Контакты</h3>
    <div class="contacts__container">
      <p class="contacts__address address">
        <span class="address__row1">Киев</span>
        <span class="address__row2">Вадима Гетьмана, 1-Б</span>
        <span class="address__row3">(3 минуты ходьбы от метро Шулявская)</span>
      </p>
      <ul class="contacts__phones">
        <li>
          <a href="tel:+380962554549" class="phone-number -size-xlg">
            (096) <span class="text-gradient">255 45 49</span>
          </a>
        </li>
        <li>
          <a href="tel:+380936153090" class="phone-number -size-xlg">
            (093) <span class="text-gradient">615 30 90</span>
          </a>
        </li>
      </ul>
      <a class="mail-to" href="mailto:info@qastartup.com.ua">info@qastartup.com.ua</a>
    </div>
  </div>
</section>
<!-- END contacts -->
