<!-- BEGIN reasons -->
<section class="reasons -course-advantages">
  <div class="l">
    <a name="structure"></a>
    <div class="reasons__header">
      <h2 class="reasons__title">Преимущества<br>курса</h2>
    </div>
    <ul class="reasons__list js-draw" data-sm-offset="500">
      <li class="reason -type-box -color-dark" data-parallax='{"delta":-100,"shift":100}'>
        <span class="reason__count">01</span>
        <strong class="reason__title">Высокая<br>зарплата</strong>
        <p class="reason__text">
          Уровень заработной платы младшего специалиста
          составляет порядка 500$, а специалистов уровня
          Senior достигает 2500$
        </p>
      </li>
      <li class="reason -type-box" data-parallax='{"delta":-200,"shift":100}'>
        <span class="reason__count">02</span>
        <strong class="reason__title">Самый простой<br>вход в IT</strong>
        <p class="reason__text">
          QA является самым простым способом начать работать в IT сфере.
          <br>Так же для становления тестировщиком не нужен технический склад ума
        </p>
      </li>
      <li class="reason">
        <span class="reason__count">03</span>
        <div class="reason__title">
          {{ mixins.borders("-width-6") }}
          Уникальные<br>условия труда
        </div>
        <p class="reason__text">
          Современные IT  офиса оборудованы комфортными рабочими местами,
          игровые комнаты и комнаты отдыха. Так же каждый специалист
          получает полный соцпакет с медстраховкой
        </p>
      </li>
      <li class="reason">
        <span class="reason__count">04</span>
        <div class="reason__title">
          {{ mixins.borders("-width-6") }}
          Работа в любой<br>точке мира
        </div>
        <p class="reason__text">
          При желании вы можете работать из дома, или с другой точки планеты.
          Для многих компаний это считается норма
        </p>
      </li>
    </ul>
  </div>
</section>
<!-- END reasons -->
