<!-- BEGIN offer -->
<section class="l">
  <a name="prices"></a>
  <div class="offer">
    <h3 class="offer__title title-base">Выгодное<br>предложение</h3>
    <div class="offer__body">
      <div class="course-note">
        <div class="course-note__line"></div>
        <div class="course-note__content">
          <span class="course-note__text">Вероятность<br>трудоустройства</span>
          <strong class="course-note__value text-gradient"><span>87</span><sub>%</sub></strong>
        </div>
      </div>
      <div class="offer__plus">+</div>
      <!-- BEGIN course -->
      <div class="offer__course-card course -primary" data-parallaxx='{"delta":-200,"shift":100}'>
        <div class="course__head">
          {{ mixins.borders("-width-6") }}
          <h3 class="course__title">QA Start</h3>
          <strong class="course__subtitle">С "нуля" на позицию тестировщика</strong>
        </div>
        <div class="course__body">
          <span class="course-prise text-gradient">15000 <sub>грн</sub></span>
          <dl class="course-info">
            <dt class="course-info__label">Сложность</dt>
            <dd class="course-info__value">
              <div class="complexity">
                <div class="complexity__bar" style="width:80%"></div>
                <span class="hidden-text">Продвинутый</span>
              </div>
            </dd>
          </dl>
          <dl class="course-info">
            <dt class="course-info__label">Продолжительность</dt>
            <dd class="course-info__value">6 недель</dd>
          </dl>
          <dl class="course-info">
            <dt class="course-info__label">Старт курса</dt>
            <dd class="course-info__value">01 августа 2015</dd>
          </dl>
          <dl class="course-info">
            <dt class="course-info__label">Дни занятий</dt>
            <dd class="course-info__value">
              <ul class="workdays">
                <li><em>пн</em></li>
                <li>вт</li>
                <li><em>ср</em></li>
                <li>чт</li>
                <li><em>пт</em></li>
                <li>сб</li>
                <li>нд</li>
              </ul>
            </dd>
          </dl>
        </div>
        <div class="course__footer">
          {{ mixins.btnLink("Записаться на курс", "#", "-width-fluid") }}
        </div>
      </div>
      <!-- END course -->
      <!-- BEGIN course -->
      <div class="offer__course-simple course">
        <h3 class="course__title">QA Advanced</h3>
        <strong class="course__subtitle">Курс «Инструменты тестировщика»</strong>
        <div class="course__body">
          <span class="course-prise text-gradient">13000 <sub>грн</sub></span>
          <dl class="course-info">
            <dt class="course-info__label">Сложность</dt>
            <dd class="course-info__value">
              <div class="complexity">
                <div class="complexity__bar" style="width:80%"></div>
                <span class="hidden-text">Продвинутый</span>
              </div>
            </dd>
          </dl>
          <dl class="course-info">
            <dt class="course-info__label">Продолжительность</dt>
            <dd class="course-info__value">6 недель</dd>
          </dl>
          <dl class="course-info">
            <dt class="course-info__label">Старт курса</dt>
            <dd class="course-info__value">01 августа 2015</dd>
          </dl>
          <dl class="course-info">
            <dt class="course-info__label">Дни занятий</dt>
            <dd class="course-info__value">
              <ul class="workdays">
                <li><em>пн</em></li>
                <li>вт</li>
                <li><em>ср</em></li>
                <li>чт</li>
                <li><em>пт</em></li>
                <li>сб</li>
                <li>нд</li>
              </ul>
            </dd>
          </dl>
          <h4 class="offer__subtitle text-gradient">При оплате<br>обоих курсов</h4>
          <ul class="checklist">
            <li>Подготовка к собеседованию</li>
            <li>Тренинг по трудоустройству</li>
          </ul>
          <div class="course-prise -size-large">
            <del class="course-prise__old">20000 грн</del>
            <span class="text-gradient">15000 <sub>грн</sub></span>
          </div>
        </div>
        <div class="course__footer">
          {{ mixins.btnLink("Записаться на курс", "#", "-type-filled -width-fluid") }}
        </div>
      </div>
      <!-- END course -->
    </div>
  </div>
</section>
<!-- END offer -->
