<!-- BEGIN course-structure -->
<section class="course-structure">
  <div class="l">
    <h3 class="course-structure__title title-base">Структура<br>лекции</h3>
    <div class="course-structure__container">
      <div class="course-structure__numbers" data-parallax='{"shift": 50, "delta": -100}'>
        <div class="number -text-sm -no-padding-left">
          <strong class="number__value text-gradient" data-number="0,20,2000">20</strong>
          <sub class="number__sub">%</sub>
          <span class="number__large-text text-gradient">теория</span>
        </div>
        <div class="number -text-sm -no-padding-left">
          <span class="number__value text-gradient">+</span>
        </div>
        <div class="number -text-sm -no-padding-left">
          <strong class="number__value text-gradient" data-number="0,80,3000">80</strong>
          <sub class="number__sub">%</sub>
          <span class="number__large-text text-gradient">практика</span>
        </div>
      </div>
      <div class="course-structure__text"><span>+</span> <span><small>проверка</small> дз</span></div>
    </div>
  </div>
</section>
<!-- END course-structure -->
