<!-- BEGIN course-cards -->
<section class="l">
  <div class="course-cards-group">
    <div class="course-card">
      <h3 class="course-card__title">Группа<br>выходного<br>дня</h3>
      <dl class="course-info">
        <dt class="course-info__label">Старт курса</dt>
        <dd class="course-info__value">01 августа 2015</dd>
      </dl>
      <dl class="course-info">
        <dt class="course-info__label">Дни занятий</dt>
        <dd class="course-info__value">
          <ul class="workdays">
            <li><em>пн</em></li>
            <li>вт</li>
            <li><em>ср</em></li>
            <li>чт</li>
            <li><em>пт</em></li>
            <li>сб</li>
            <li>нд</li>
          </ul>
          <span class="worktime">11:00-13:00</span>
        </dd>
      </dl>
      <dl class="course-info">
        <dt class="course-info__label">Прогресс набора группы</dt>
        <dd class="course-info__value">
          <div class="complexity">
            <div class="complexity__bar" style="width:90%"></div>
            <span class="hidden-text">Новичок</span>
          </div>
        </dd>
      </dl>
      <dl class="course-info">
        <dt class="course-info__label">Свободно</dt>
        <dd class="course-info__value">3 места</dd>
      </dl>
    </div>

    <div class="course-card">
      <h3 class="course-card__title">Группа<br>буднего<br>дня</h3>
      <dl class="course-info">
        <dt class="course-info__label">Старт курса</dt>
        <dd class="course-info__value">01 августа 2015</dd>
      </dl>
      <dl class="course-info">
        <dt class="course-info__label">Дни занятий</dt>
        <dd class="course-info__value">
          <ul class="workdays">
            <li><em>пн</em></li>
            <li>вт</li>
            <li><em>ср</em></li>
            <li>чт</li>
            <li><em>пт</em></li>
            <li>сб</li>
            <li>нд</li>
          </ul>
          <span class="worktime">19:00-21:00</span>
          <ul class="workdays">
            <li>пн</li>
            <li>вт</li>
            <li>ср</li>
            <li>чт</li>
            <li>пт</li>
            <li><em>сб</em></li>
            <li><em>нд</em></li>
          </ul>
          <span class="worktime">11:00-13:00</span>
        </dd>
      </dl>
      <dl class="course-info">
        <dt class="course-info__label">Прогресс набора группы</dt>
        <dd class="course-info__value">
          <div class="complexity">
            <div class="complexity__bar" style="width:70%"></div>
            <span class="hidden-text">Новичок</span>
          </div>
        </dd>
      </dl>
      <dl class="course-info">
        <dt class="course-info__label">Свободно</dt>
        <dd class="course-info__value">3 места</dd>
      </dl>
    </div>

    <div class="course-card">
      <dl class="course-info">
        <dt class="course-info__label">Продолжительность</dt>
        <dd class="course-info__value">
          <span class="course-duration"><em>6 недель</em> — 24 часа — 10 занятий</span>
        </dd>
      </dl>
      <dl class="course-info">
        <dt class="course-info__label">Тренеры курса</dt>
        <dd class="course-info__value">
          <ul class="course-coaches">
            <li><em>Сергей Гливинский</em></li>
            <li>Сергей Гливинский</li>
            <li>Сергей Гливинский</li>
          </ul>
      </dl>
      <div class="course-prise">
        <del class="course-prise__old">20000 грн</del>
        <span class="text-gradient">15000 <sub>грн</sub></span>
      </div>
      {{mixins.btn("Получить знания", "-type-filled -width-fluid")}}
    </div>
  </div>
</section>
<!-- END course-cards -->
