<!-- BEGIN course-technology -->
<section class="course-technology l">
  <h3 class="course-technology__title">
    Вы<br> освоите
    <small class="title-small">технологии</small>
  </h3>
  <!-- BEGIN carousel -->
  <div class="carousel">
    <div class="carousel__items">
      <div class="carousel__item">
        <i class="carousel__icon icon icon-qa"></i>
        <span class="carousel__label">QA</span>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-timer-list"></i>
        <span class="carousel__label">Требования</span>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-checklist"></i>
        <span class="carousel__label">Тест план</span>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-xmind"></i>
        <span class="carousel__label">Xmind</span>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-checklist"></i>
        <span class="carousel__label">Тест план</span>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-checklist"></i>
        <span class="carousel__label">Тест план</span>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-xmind"></i>
        <span class="carousel__label">Xmind</span>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-xmind"></i>
        <span class="carousel__label">Xmind</span>
      </div>
    </div>
    <div class="carousel__line"></div>
    <div class="carousel__text">
      <p>будут рассмотрены все по понятия связанные с тестирование по такие как: методологии, техники, виды, уровни тестирования и много другое</p>
    </div>
  </div>
  <!-- END carousel -->
</section>
<!-- BEGIN course-technology -->
