<!-- BEGIN course-technology -->
<section class="course-technology l">
  <h3 class="course-technology__title">
    Вы<br> освоите
    <small class="title-small">технологии</small>
  </h3>
  <!-- BEGIN carousel -->
  <div class="carousel">
    <div class="carousel__items">
      <div class="carousel__item">
        <i class="carousel__icon icon icon-qa"></i>
        <span class="carousel__label">QA</span>
        <div class="carousel__item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut animi magnam quam enim veritatis repellat distinctio nesciunt sunt quis ipsa, ipsum quae architecto, ullam nisi dolor quasi accusamus voluptate ratione.</p>
        </div>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-timer-list"></i>
        <span class="carousel__label">Требования</span>
        <div class="carousel__item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam saepe, voluptates facilis in autem eos sapiente debitis! Aut fugit repudiandae perspiciatis possimus ipsum corrupti provident porro nam consequuntur, amet nobis?</p>
        </div>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-checklist"></i>
        <span class="carousel__label">Тест план</span>
        <div class="carousel__item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui iste illo harum quos sed itaque pariatur tempora quis expedita numquam aspernatur doloribus, suscipit veritatis eligendi esse nam odit quisquam mollitia?</p>
        </div>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-xmind"></i>
        <span class="carousel__label">Xmind</span>
        <div class="carousel__item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero omnis voluptatum delectus, architecto tenetur enim sed consequuntur natus dolor, totam odit quis iure suscipit cupiditate dolorum numquam! Temporibus, veniam, iste.</p>
        </div>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-checklist"></i>
        <span class="carousel__label">Тест план</span>
        <div class="carousel__item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe inventore nulla tempore distinctio. Saepe, dicta, assumenda. Soluta fugit, quisquam pariatur voluptates error ipsum, eligendi quibusdam nulla. Sunt repudiandae dignissimos, temporibus!</p>
        </div>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-checklist"></i>
        <span class="carousel__label">Тест план</span>
        <div class="carousel__item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere vero porro iusto suscipit non consectetur accusamus dolore laborum doloremque cum? Numquam necessitatibus soluta voluptatum, perferendis ad mollitia quo in harum!</p>
        </div>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-xmind"></i>
        <span class="carousel__label">Xmind</span>
        <div class="carousel__item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error itaque repudiandae architecto minima cumque quidem blanditiis, facilis esse omnis laborum nemo voluptates sed saepe harum molestiae quo et numquam, totam!</p>
        </div>
      </div>
      <div class="carousel__item">
        <i class="carousel__icon icon icon-xmind"></i>
        <span class="carousel__label">Xmind</span>
        <div class="carousel__item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa aliquid reprehenderit quam, minus. Vel quam voluptas libero necessitatibus odit? Doloremque quam, suscipit amet nulla soluta quia! Nemo, numquam quo exercitationem.</p>
        </div>
      </div>
    </div>
    <!-- <div class="carousel-text-box">
      <p>будут рассмотрены все по понятия связанные с тестирование по такие как: методологии, техники, виды, уровни тестирования и много другое</p>
    </div> -->
  </div>
  <!-- END carousel -->
</section>
<!-- BEGIN course-technology -->
