<!-- BEGIN contacts -->
<section class="contacts -type-questions">
  <div class="contacts__header l">
    <h3 class="contacts__title">
      Остались
      <br>вопросы?
      <span class="title-small">Задайте их менеджеру</span>
    </h3>
  </div>
  <div class="contacts__body">
    <div id="map" class="contacts__map"></div>
    <div class="contacts__inner l js-draw" data-sm-offset="200">
      <div class="contacts__managers-group">
        <div class="manager-card">
          <div class="manager-card__avatar">
            <img src="img/testimonials/dmitriy.jpg" alt="">
          </div>
          <dl>
            <dt class="manager-card__title">Дмитрий Ткаченко</dt>
            <dd class="manager-card__subtitle">Координатор курсов</dd>
          </dl>
          <a class="manager-card__contact" href="tel:+380962554549">(096) <span class="text-gradient">255 45 49</span></a>
          <div class="manager-card__btn">
            <button type="button" class="btn -type-filled -width-fluid" data-modal="#modal-question">
              {{ mixins.borders() }}
              <span class="btn__fill"></span>
              <span class="btn__text">Задать вопрос</span>
            </button>
          </div>
        </div>
        <div class="manager-card">
          <div class="manager-card__avatar">
            <img src="img/testimonials/dmitriy.jpg" alt="">
          </div>
          <dl>
            <dt class="manager-card__title">Дмитрий Ткаченко</dt>
            <dd class="manager-card__subtitle">Координатор курсов</dd>
          </dl>
          <a class="manager-card__contact" href="tel:+380962554549">(096) <span class="text-gradient">255 45 49</span></a>
          <div class="manager-card__btn">
            <button type="button" class="btn -type-filled -width-fluid" data-modal="#modal-question">
              {{ mixins.borders() }}
              <span class="btn__fill"></span>
              <span class="btn__text">Задать вопрос</span>
            </button>
          </div>
        </div>
      </div>
      <div class="contacts__container">
        <div class="clearfix"></div>
        <strong class="title-small">или зайдите к нам в гости</strong>
        <p class="contacts__address address">
          <span class="address__row1">Киев</span>
          <span class="address__row2">Вадима Гетьмана, 1-Б</span>
          <span class="address__row3">(3 минуты ходьбы от метро Шулявская)</span>
        </p>
        <a class="mail-to" href="mailto:info@qastartup.com.ua">info@qastartup.com.ua</a>
      </div>
    </div>
  </div>
</section>
<!-- END contacts -->
