<!-- BEGIN seo-text -->
<section class="seo-text">
  <div class="l">
    <h3 class="seo-text__title">
      <span class="text-gradient">QA<br> START</span>
      <small class="title-small">Курс «Тестирование ПО»</small>
    </h3>
    <div class="seo-text__container">
      <p>Тестирование программного обеспечения (QA Testing) – процесс, который позволяет определить качество конечного продукта и его соответствие с требованиями заказчика. Если говорить о качественном программном продукте, то ни одна разработка не может обойтись без тестовых проверок, поскольку только данный процесс дает возможность получить продукт, соответствующий и практические знания для того, чтобы получить должность специалиста в области тестирования программного обеспечения.</p>
      <p>Во время обучения Вы пройдете весь цикл разработки программного продук этого продукта. Параллельно с теорией проходят и практические занятия, что позволяет крепко закрепить</p>
    </div>
</section>
<!-- END seo-text -->
