{% macro largeSlide(addContent) %}
<div class="slider-duo__slide-lg">
  <!-- BEGIN person -->
  <div class="person">
    <div class="person__left">
      <div class="person__pic">
        <img src="img/coach.jpg" alt="">
      </div>
      <dl class="course-info">
        <dt class="course-info__label">Опыт преподавания</dt>
        <dd class="course-info__value">5 лет</dd>
      </dl>
      <dl class="course-info">
        <dt class="course-info__label">Компания</dt>
        <dd class="course-info__value">Epam</dd>
      </dl>
    </div>
    <div class="person__right">
      <strong class="person__name text-gradient">Сергей<br>Гливинский</strong>
      <p class="person__text">Опыт в домене телекоммуникационных (анализ, тестирование ПО и решение проблем таких систем как Genesys Framefork и Granite Inventory System) и банковских систем (Трейдинг ориентированные системы)</p>
      {% if addContent %}
      <div class="person__title">{{ addContent }}</div>
      {% endif %}
      <div class="person__more">
        <strong class="person__title">Технические знания</strong>
        <dl class="course-info">
          <dt class="course-info__label">Языки программирования</dt>
          <dd class="course-info__value">VBS, С#</dd>
        </dl>
        <dl class="course-info">
          <dt class="course-info__label">Технологии</dt>
          <dd class="course-info__value">WPF</dd>
        </dl>
        <dl class="course-info">
          <dt class="course-info__label">Базы данных</dt>
          <dd class="course-info__value">MS SQL Server 2005/2008, Oracle, Mysql</dd>
        </dl>
        <dl class="course-info">
          <dt class="course-info__label">Другое программное обеспечение</dt>
          <dd class="course-info__value">TrackStudio, Siebel CRM, JIRA, On-Trac, SQL Developer, Quality Center, Test Complete</dd>
        </dl>
        <strong class="person__title">Трудовой опыт</strong>
        <div class="timeline">
          <strong class="timeline__date">2012 - Now</strong>
          <div class="timeline__body">
            <strong class="timeline__title">EPAM Systems</strong>
            <dl class="course-info">
              <dt class="course-info__label">Должность</dt>
              <dd class="course-info__value">QA tech lead</dd>
            </dl>
            <dl class="course-info">
              <dt class="course-info__label">Заказчик</dt>
              <dd class="course-info__value">Barclays Investment Bank, UK</dd>
            </dl>
            <dl class="course-info">
              <dt class="course-info__label">Технологии на проектах</dt>
              <dd class="course-info__value">Windows XP, Oracle DB, XML, Test Complete, Visual Basic Script, JIRA, Quality Center</dd>
            </dl>
          </div>
        </div>
        <div class="timeline">
          <strong class="timeline__date">2010 - 2012</strong>
          <div class="timeline__body">
            <strong class="timeline__title">Global Logic</strong>
            <dl class="course-info">
              <dt class="course-info__label">Должность</dt>
              <dd class="course-info__value">QA tech lead</dd>
            </dl>
            <dl class="course-info">
              <dt class="course-info__label">Заказчик</dt>
              <dd class="course-info__value">Barclays Investment Bank, UK</dd>
            </dl>
            <dl class="course-info">
              <dt class="course-info__label">Технологии на проектах</dt>
              <dd class="course-info__value">Windows XP, Oracle DB, XML, Test Complete, Visual Basic Script, JIRA, Quality Center</dd>
            </dl>
          </div>
        </div>
        <strong class="person__title">Сертификаты по тестированию ПО</strong>
        <ul class="person__links">
          <li><a href="#">ISTQB foundation level (CTFL)</a></li>
        </ul>
      </div>
      <div class="person__buttons">
        {{ mixins.btn("Подробнее", "-type-filled -width-250 -height-sm") }}
        {{ mixins.btn("Закрыть резюме", "-type-filled -width-250 -height-sm js-modal-close") }}
        {{ mixins.btn("Задать вопрос", "-color-grey -width-250 -height-sm") }}
      </div>
    </div>
  </div>
  <!-- END person -->
</div>
{% endmacro %}
{% macro smallSlide() %}
<div class="slider-duo__slide-sm">
  <!-- BEGIN person -->
  <div class="person -size-sm">
    <div class="person__pic">
      <img src="img/coach.jpg" alt="">
    </div>
    <strong class="person__name">Сергей<br>Гливинский</strong>
    <div class="course-info">
      <span class="course-info__value">
        Стаж работы в IT сфере - от 8 лет.
        <br>Преподавательский стаж достигает 5 лет
      </span>
    </div>
    <dl class="course-info">
      <dt class="course-info__label">Опыт преподавания</dt>
      <dd class="course-info__value">5 лет</dd>
    </dl>
    <dl class="course-info">
      <dt class="course-info__label">Компания</dt>
      <dd class="course-info__value">Epam</dd>
    </dl>
  </div>
  <!-- END person -->
</div>
{% endmacro %}
<!-- BEGIN coaches -->
<section class="coaches">
  <a name="coaches"></a>
  <div class="l">
    <h3 class="coaches__title">Тренеры<br>курса</h3>
    <div class="coaches__slider-container">
      <!-- BEGIN slider-duo -->
      <div class="slider-duo">
        <div class="slider-duo__slide-count"><span class="current">01</span>/05</div>
        <div class="slider-duo__nav-buttons">
          <button type="button" class="slider-duo__nav-prev icon icon-arrow-left"></button>
          <button type="button" class="slider-duo__nav-next icon icon-arrow-right"></button>
        </div>

        <div class="slider-duo__left">
          <div class="slider-duo__left-inner">
            <div class="slider-duo__left-slides">
              {{ largeSlide() }}
              {{ largeSlide("Slide 2") }}
              {{ largeSlide("Slide 3") }}
              {{ largeSlide("Slide 4") }}
              {{ largeSlide("Slide 5") }}
            </div>
          </div>
        </div>

        <div class="slider-duo__right">
          <div class="slider-duo__right-inner">
            <div class="slider-duo__right-slides">
              {{ smallSlide() }}
              {{ smallSlide() }}
              {{ smallSlide() }}
              {{ smallSlide() }}
              {{ smallSlide() }}
            </div>
          </div>
        </div>
      </div>
      <!-- END slider-duo -->
    </div>
  </div>
</section>
<!-- END coaches -->
