<!-- BEGIN facts -->
<section class="facts">
  <h2 class="facts__title">Факты</h2>
  <div class="facts__row">
    <div class="facts__left green-box" data-parallax="-200">
      <div class="number -color-dark">
        <span class="number__count">01</span>
        <strong class="number__value">8</strong>
        <sub class="number__sub">лет</sub>
        <span class="number__text">Cтаж тренеров в<br>сфере IT</span>
      </div>
    </div>
    <div class="facts__right">
      <div class="number -text-sm">
        <span class="number__count">02</span>
        <strong class="number__value text-gradient">256</strong>
        <span class="number__text">Студентов получили<br>дипломы</span>
      </div>
    </div>
  </div>
  <div class="facts__row">
    <div class="facts__left">
      <div class="number -text-lg">
        <span class="number__count">03</span>
        <strong class="number__value text-gradient">87</strong>
        <sub class="number__sub">%</sub>
        <span class="number__text">Устроились на работу<br>своей мечты</span>
      </div>
    </div>
    <div class="facts__right green-box" data-parallax="-150">
      <div class="number -color-dark">
        <span class="number__count">04</span>
        <strong class="number__value">80</strong>
        <sub class="number__sub">%</sub>
        <span class="number__text">Практическая работа<br>над проектом</span>
      </div>
    </div>
  </div>
</section>
<!-- END facts -->
