<!-- BEGIN faq -->
<section class="faq l">
  <a name="faq"></a>
  <h3 class="faq__title text-gradient">Нас часто спрашивают...</h3>
  <ul class="faq__list">
    <li class="faq-item -width-xsm">
      <button class="faq-item__button" type="button">
        <span class="faq-item__count">01</span>
        <span class="faq-item__question">В чем смысл жизни?</span>
      </button>
      <div class="faq-item__answer">
        <dl>
          <dt>Уникальные условия труда</dt>
          <dd>Современные IT  офиса оборудованы комфортными рабочими местами,  игровые комнаты и комнаты отдыха. Так же каждый специалист получает полный соцпакет с медстраховкой.</dd>
        </dl>
        <dl>
          <dt>Работа в любой точке мира</dt>
          <dd>При желании вы можете работать из дома, или с другой точки планеты. Для многих компаний это считается норма.</dd>
        </dl>
        <dl>
          <dt>Возможность развития</dt>
          <dd>Специалисты могут не только быстро расти по карьерной лестнице, осваивать автоматизированное тестирование, а при желании стать разработчиками или выбрать другую интересующую отрасль.</dd>
        </dl>
        <dl>
          <dt>Карьерный рост</dt>
          <dd>Пересмотр уровня знаний происходит каждый год, а это значит что уже через 2-3 года вы сможете получить звание Senior.</dd>
        </dl>
      </div>
    </li>
    <li class="faq-item -width-sm" data-parallax='{"delta":-100, "shift":50}'>
      <button class="faq-item__button" type="button">
        <span class="faq-item__count">02</span>
        <span class="faq-item__question">Тут будут выводится просто последние статьи с блога?</span>
      </button>
      <div class="faq-item__answer">
        <dl>
          <dt>Уникальные условия труда</dt>
          <dd>Современные IT  офиса оборудованы комфортными рабочими местами,  игровые комнаты и комнаты отдыха. Так же каждый специалист получает полный соцпакет с медстраховкой.</dd>
        </dl>
        <dl>
          <dt>Работа в любой точке мира</dt>
          <dd>При желании вы можете работать из дома, или с другой точки планеты. Для многих компаний это считается норма.</dd>
        </dl>
        <dl>
          <dt>Возможность развития</dt>
          <dd>Специалисты могут не только быстро расти по карьерной лестнице, осваивать автоматизированное тестирование, а при желании стать разработчиками или выбрать другую интересующую отрасль.</dd>
        </dl>
        <dl>
          <dt>Карьерный рост</dt>
          <dd>Пересмотр уровня знаний происходит каждый год, а это значит что уже через 2-3 года вы сможете получить звание Senior.</dd>
        </dl>
      </div>
    </li>
    <li class="faq-item">
      <button class="faq-item__button" type="button">
        <span class="faq-item__count">03</span>
        <span class="faq-item__question">Все вышеуказанное проходит через два блока?</span>
      </button>
      <div class="faq-item__answer">
        <dl>
          <dt>Уникальные условия труда</dt>
          <dd>Современные IT  офиса оборудованы комфортными рабочими местами,  игровые комнаты и комнаты отдыха. Так же каждый специалист получает полный соцпакет с медстраховкой.</dd>
        </dl>
        <dl>
          <dt>Работа в любой точке мира</dt>
          <dd>При желании вы можете работать из дома, или с другой точки планеты. Для многих компаний это считается норма.</dd>
        </dl>
        <dl>
          <dt>Возможность развития</dt>
          <dd>Специалисты могут не только быстро расти по карьерной лестнице, осваивать автоматизированное тестирование, а при желании стать разработчиками или выбрать другую интересующую отрасль.</dd>
        </dl>
        <dl>
          <dt>Карьерный рост</dt>
          <dd>Пересмотр уровня знаний происходит каждый год, а это значит что уже через 2-3 года вы сможете получить звание Senior.</dd>
        </dl>
      </div>
    </li>
    <li class="faq-item -width-md" data-parallax='{"delta":-100, "shift":50}'>
      <button class="faq-item__button" type="button">
        <span class="faq-item__count">04</span>
        <span class="faq-item__question">В самом конце студент получает работу Software QA Enginner?</span>
      </button>
      <div class="faq-item__answer">
        <dl>
          <dt>Уникальные условия труда</dt>
          <dd>Современные IT  офиса оборудованы комфортными рабочими местами,  игровые комнаты и комнаты отдыха. Так же каждый специалист получает полный соцпакет с медстраховкой.</dd>
        </dl>
        <dl>
          <dt>Работа в любой точке мира</dt>
          <dd>При желании вы можете работать из дома, или с другой точки планеты. Для многих компаний это считается норма.</dd>
        </dl>
        <dl>
          <dt>Возможность развития</dt>
          <dd>Специалисты могут не только быстро расти по карьерной лестнице, осваивать автоматизированное тестирование, а при желании стать разработчиками или выбрать другую интересующую отрасль.</dd>
        </dl>
        <dl>
          <dt>Карьерный рост</dt>
          <dd>Пересмотр уровня знаний происходит каждый год, а это значит что уже через 2-3 года вы сможете получить звание Senior.</dd>
        </dl>
      </div>
    </li>
  </ul>
</section>
<!-- END faq -->
