<!-- BEGIN footer -->
<div id="sm-trigger-footer"></div>
<footer class="footer">
  <div class="footer__main">
    <div class="footer__logo">
      {{ mixins.logo(null, "-width-3") }}
    </div>
    <ul class="footer__list">
      <li class="footer__label">О нас</li>
      <li><a class="footer__link" href="#">О центре</a></li>
      <li><a class="footer__link" href="#">Лекторы</a></li>
      <li><a class="footer__link" href="#">Отзывы</a></li>
      <li><a class="footer__link" href="#">Контакты</a></li>
    </ul>
    <ul class="footer__list">
      <li class="footer__label">Курсы</li>
      <li><a class="footer__link" href="#">Java START</a></li>
      <li><a class="footer__link" href="#">JAva Pro</a></li>
      <li><a class="footer__link" href="#">Java ООП</a></li>
    </ul>
    <ul class="footer__socials">
      <li><a class="icon icon-facebook" href="#" title="Facebook"><span class="hidden-text">Facebook</span></a></li>
      <li><a class="icon icon-twitter" href="#" title="Twitter"><span class="hidden-text">Twitter</span></a></li>
      <li><a class="icon icon-linkedin" href="#" title="Linkedin"><span class="hidden-text">Linkedin</span></a></li>
      <li><a class="icon icon-vk" href="#" title="Vkontakte"><span class="hidden-text">Vkontakte</span></a></li>
      <li><a class="icon icon-youtube" href="#" title="Youtube"><span class="hidden-text">Youtube</span></a></li>
    </ul>
    <div class="footer__contacts">
      <span class="footer__label">Звоните</span>
      <ul class="footer__phones">
        <li><a href="tel:+380962554549" class="phone-number">096 <span class="text-gradient">255 45 49</span></a></li>
        <li><a href="tel:+380936153090" class="phone-number">093 <span class="text-gradient">615 30 90</span></a></li>
      </ul>
      <span class="footer__label">Пишите</span>
      <a class="mail-to -size-xsm" href="mailto:info@qastartup.com.ua">info@qastartup.com.ua</a>
    </div>
  </div>
  <div class="footer__bottom">
    <span class="footer__copyright">© QA Start Up, 2015</span>
    <span class="footer__designer">Design by <a href="http://romantrilo.com" target="_blank">TRILO</a></span>
  </div>
</footer>
<!-- END footer -->
