<!-- BEGIN header -->
<header class="header is-fixed">
  <div class="header__row">
    <div class="header__logo">
      {{ mixins.logo(null, "-width-3") }}
    </div>
    <div class="header__panel">
      <a href="tel:+380936153090" class="phone-number -size-sm">093 <span class="text-gradient">615 30 90</span></a>
      <a href="tel:+380962554549" class="phone-number -size-sm">096 <span class="text-gradient">255 45 49</span></a>
      {{ mixins.btnLink("Получить знания", "#", "-width-250 -height-sm") }}
      <button class="hamburger" type="button">
        <div class="hamburger__line"></div>
        <div class="hamburger__line"></div>
        <div class="hamburger__line"></div>
      </button>
    </div>
    <div class="header__nav">
      <div class="header__promo">
        Уже готовы<strong>стать<br>востребованным</strong>специалистом?
        {{ mixins.btnLink("Получить знания", "#", "-width-250 -type-filled -height-sm") }}
      </div>
      <nav class="nav">
        <ul class="nav__list">
          {% for link in navItems %}<li class="nav__item">
            <a class="nav__link" href="{{ link.href }}" title="{{ link.title }}">{{ link.title }}</a>
          </li>{% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
<!-- END header -->
