{% macro borders(classMod) %}
<div {% if classMod %}class="borders {{ classMod }}"{% else %}class="borders"{% endif %}>
  <div class="border-top"></div>
  <div class="border-left"></div>
  <div class="border-right"></div>
  <div class="border-bottom"></div>
</div>
{% endmacro %}

{% macro logo(classMod, bordersClassMod) %}
<a {% if classMod %}class="logo {{ classMod }}"{% else %}class="logo"{% endif %} href="/">
  {{ mixins.borders(bordersClassMod) }}
  <div class="logo__inner"><span>QA.</span><span class="hidden-text">Start Up</span></div>
</a>
{% endmacro %}

{% macro btn(content, classMod, type, borderClassMod) %}
  <button {% if classMod %}class="btn {{ classMod }}"{% else %}class="btn"{% endif %} {% if type %}type="{{ type }}"{% else %}type="button"{% endif %}>
    {{ borders(borderClassMod) }}
    <div class="btn__fill"></div>
    <span class="btn__text">{{ content }}</span>
  </button>
{% endmacro %}

{% macro btnLink(content, href, classMod, borderClassMod) %}
  <a {% if classMod %}class="btn {{ classMod }}"{% else %}class="btn"{% endif %} href="{{ href }}">
    {{ borders(borderClassMod) }}
    <div class="btn__fill"></div>
    <span class="btn__text">{{ content }}</span>
  </a>
{% endmacro %}

{% macro btnOpenModalCallback(bordersClassMod) %}
<button class="btn -width-250 -height-sm" type="button" data-modal="#modal-callback">
  {{ mixins.borders(bordersClassMod) }}
  <div class="btn__fill"></div>
  <span class="btn__text">Получить знания</span>
</button>
{% endmacro %}

{% macro field(type, name, id, label, error, classMod) %}
<div class="field">
  <input class="input" type="{{ type }}" name="{{ name }}" id="{{ id }}">
  <label class="input-label" for="{{ id }}">{{ label }}</label>
  <span class="field__error">{{ error }}</span>
</div>
{% endmacro %}
