<!-- BEGIN nomination -->
<section class="nomination l">
  <div class="nomination__picture">
    <img src="img/nomination.png" alt="Certificates">
  </div>
  <div class="banner-title">
    {{ mixins.borders("-width-8") }}
    <h3 class="banner-title__text">
      QA Start UP
      <br>присвоили номинацию
      <span class="banner-title__large text-gradient">QA GURU -2015</span>
    </h3>
  </div>
  <div class="nomination__footer">
    На всеукраинской выставке
    <br>“IT Jam” компания QA Start UP победила в номинации
    <br>“QA GURU -2015“
  </div>
</section>
<!-- END nomination -->
