<!-- BEGIN pagination -->
<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link is-active" href="#">
        <span class="pagination__text">О нас</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">
        <span class="pagination__text">Курсы</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#coaches">
        <span class="pagination__text">Тренеры</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#prices">
        <span class="pagination__text">Цены</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#testimonials">
        <span class="pagination__text">Отзывы</span>
      </a>
    </li>
  </ul>
</div>
<!-- END pagination -->
