<!-- BEGIN pagination -->
<div class="pagination">
  <ul class="pagination__list">
    <li class="pagination__item">
      <a class="pagination__link" href="#about">
        <span class="pagination__text">О курсе</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#structure">
        <span class="pagination__text">Структура лекций</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#program">
        <span class="pagination__text">Программа курса</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#coaches">
        <span class="pagination__text">Тренеры</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#testimonials">
        <span class="pagination__text">Отзывы</span>
      </a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#faq">
        <span class="pagination__text">FAQ</span>
      </a>
    </li>
  </ul>
</div>
<!-- END pagination -->
