<!-- BEGIN question -->
<section class="question l">
  <h3 class="question__title">Остались<br>вопросы?</h3>
  <button class="link -underline-dashed js-question-toggle" type="button" data-alt-text="Скрыть форму">Задайте их менеджеру</button>
  <div class="question__container">
    <div class="question__form">
      <div class="form-wrapper">
        <form class="form" id="question-form">
          <div class="field">
            <input class="input" type="text" name="name" id="field-name">
            <label  class="input-label" for="field-name">Ваше имя</label>
            {# <span class="field__error">Обязательно для заполнения</span> #}
          </div>
          <div class="field">
            <input class="input" type="tel" name="phone" id="field-phone">
            <label  class="input-label" for="field-phone">Ваш номер телефона</label>
            {# <span class="field__error">Обязательно для заполнения</span> #}
          </div>
          <div class="field">
            <input class="input" type="text" name="phone" id="field-question">
            <label  class="input-label" for="field-question">Ваш вопрос</label>
            {# <span class="field__error">Ваш вопрос сформулирован некорректно</span> #}
          </div>
          {{ mixins.btn("Отправить", "-type-filled -width-fluid", "submit") }}
        </form>
        <div class="form-msg">
          <div class="form-msg-text">
            <strong>Спасибо!</strong>
            <p>Наш менеджер свяжется с Вами на протяжении 24 часов.</p>
            <button class="link -underline-dashed" type="button">Вернуться Назад</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END question -->
