<!-- BEGIN salary -->
<section class="salary l">
  <div class="salary__left">
    <div class="salary__left-content">
      <h2 class="salary__title">Заработная плата <small class="title-small">QA специалиста начального уровня<br>в Киеве</small></h2>
    </div>
  </div>
  <div class="salary__right green-box" data-parallax="-150">
    <div class="salary__right-content">
      <div class="number -color-dark -text-sm">
        <sup class="number__sup">от</sup>
        <strong class="number__value">500</strong>
        <span class="number__sub -type-currency">$</span>
      </div>
    </div>
  </div>
</section>
<!-- END salary -->
