<!-- BEGIN stats -->
<section class="stats">
  <div class="l">
    <h2 class="stats__title">Доходы и спрос <small class="title-small">на QA специалистов</small></h2>
    <div class="stats__buttons">
      <button class="btn-round -width-180 is-active" type="button">Доходы</button>
      <button class="btn-round -width-180" type="button">Спрос</button>
    </div>
  </div>
  <div class="stats__graph">
    <div class="stats__note l">
      <p>Данные взяты с сайта <a class="lnk" href="http://www.dou.ua"><b>www.dou.ua</b></a> за период с 2014 по 2015 год</p>
    </div>
  </div>
</section>
<!-- END stats -->
