<!-- BEGIN testimonials -->
<section class="testimonials l">
  <div class="testimonials__header">
    <h3 class="testimonials__title">Отзывы <small class="title-small">наших студентов</small></h3>
  </div>
  <div class="testimonials__container">
    {% for testimonial in testimonials %}
    <div class="testimonial">
      <div class="testimonial__backlayer"></div>
      <div class="testimonial__fronlayer">
        <span class="testimonial__count">
          {% if loop.index < 10 %}0{{ loop.index }}{% else %}{{ loop.index }}{% endif %}
        </span>
        <div class="testimonial__head">
          {{ mixins.borders("-width-6") }}
          <div class="testimonial__userpic">
            <img src="{{ testimonial.photo }}" alt="{{ testimonial.name }}">
          </div>
          <strong class="testimonial__name">{{ testimonial.name }}</strong>
          <span class="testimonial__post">{{ testimonial.post }}</span>
          <div class="testimonial__contacts">
            <a class="icon icon-facebook"
              href="{{ testimonial.contacts.facebook }}"
              title="{{ testimonial.name }} в Facebook">
            </a>
            <a class="icon icon-linkedin"
              href="{{ testimonial.contacts.linkedin }}"
              title="{{ testimonial.name }} в Linkedin">
            </a>
          </div>
        </div>
        <p class="testimonial__text">{{ testimonial.text }}</p>
        <button class="link" type="button">Читать полностью</button>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
<!-- END testimonials -->
