<!-- BEGIN toparea -->
<div class="toparea">
  <div class="toparea__video">
    <video class="video" id="toparea-video" autobuffer autoloop loop>
      <source src="video/test.mp4" type="video/mp4">
      <source src="video/test.ogv" type="video/ogg">
      <source src="video/test.webm" type="video/webm">
    </video>
  </div>
  <div class="toparea__inner">
    <div class="toparea__center">
      {% include "intro.html" %}
      <button class="play-button icon icon-play" type="button"></button>
      {{ mixins.btnOpenModalCallback() }}
    </div>
  </div>
</div>
<!-- END toparea -->
