<!-- BEGIN toparea -->
<div class="toparea -type-course">
  <div class="toparea__video">
    <!-- <video class="video" id="toparea-video" autobuffer autoloop loop>
      <source src="video/test.mp4" type="video/mp4">
      <source src="video/test.ogv" type="video/ogg">
      <source src="video/test.webm" type="video/webm">
    </video> -->
  </div>
  <div class="toparea__inner">
    <div class="toparea__center">
      <div class="l">
        <h1 class="title-base toparea__title">
          Тестирование<br>
          программного<br>
          обеспечения<br>
          <small class="title-small">QA Testing</small>
        </h1>
        <button class="play-button -align-left icon icon-play" type="button"></button>
        <div class="toparea__line"></div>
      </div>
    </div>
  </div>
</div>
<!-- END toparea -->
