<!-- BEGIN toparea -->
<div class="toparea">
  <div class="toparea__video">
    <video class="video" id="toparea-video" autobuffer autoloop loop>
      <source src="video/java.mp4" type="video/mp4">
      <source src="video/java.ogv" type="video/ogg">
      <source src="video/java.webm" type="video/webm">
    </video>
  </div>
  <div class="toparea__inner">
    <div class="toparea__center">
      {% include "intro.html" %}
      <button class="play-button icon icon-play" type="button"><span class="hidden-text">Смотреть видео</span></button>
      {{ mixins.btn("Получить знания", "-width-250 -height-sm") }}
    </div>
  </div>
</div>
<!-- END toparea -->
