@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('eot'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.woff2') format('woff2'),
    url('../fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-arrow-down: "\EA01";
$icon-arrow-left: "\EA02";
$icon-arrow-right: "\EA03";
$icon-arrow-up: "\EA04";
$icon-check: "\EA05";
$icon-chevron-down: "\EA06";
$icon-chevron-up: "\EA07";
$icon-close: "\EA08";
$icon-facebook: "\EA09";
$icon-linkedin: "\EA0A";
$icon-play: "\EA0B";
$icon-refresh: "\EA0C";
$icon-twitter: "\EA0D";
$icon-vk: "\EA0E";
$icon-youtube: "\EA0F";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.icon-2x { font-size: 2em; }
.icon-3x { font-size: 3em; }
.icon-4x { font-size: 4em; }
.icon-5x { font-size: 5em; }
.icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.icon-arrow-down:before { content: $icon-arrow-down; }
.icon-arrow-left:before { content: $icon-arrow-left; }
.icon-arrow-right:before { content: $icon-arrow-right; }
.icon-arrow-up:before { content: $icon-arrow-up; }
.icon-check:before { content: $icon-check; }
.icon-chevron-down:before { content: $icon-chevron-down; }
.icon-chevron-up:before { content: $icon-chevron-up; }
.icon-close:before { content: $icon-close; }
.icon-facebook:before { content: $icon-facebook; }
.icon-linkedin:before { content: $icon-linkedin; }
.icon-play:before { content: $icon-play; }
.icon-refresh:before { content: $icon-refresh; }
.icon-twitter:before { content: $icon-twitter; }
.icon-vk:before { content: $icon-vk; }
.icon-youtube:before { content: $icon-youtube; }
