{% set bodyClass = "course-page" %}
{% set callbackClassMod = "-wide-bg" %}
{% extends "layouts/layout.html" %}
{% import "partials/mixins.html" as mixins %}

{% block content %}
{# {% include "partials/preloader.html" %} #}
{% include "partials/page-pagination.html" %}

<!-- BEGIN out -->
<div class="out -no-padding-top draw">
  {% include "partials/header.html" %}
  {% include "partials/toparea-course.html" %}

  {% include "partials/course-cards.html" %}
  <!-- BEGIN content-wrapper -->
  <div class="content-wrapper">
    {% include "partials/course-advantages.html" %}
    {% include "partials/course-structure.html" %}
    {% include "partials/course-seo-text.html" %}
    {% include "partials/course-technology.html" %}
    {% include "partials/course-programm.html" %}
    {% include "partials/course-coaches.html" %}
    {% include "partials/course-offer.html" %}
    {% include "partials/companies.html" %}
    {% include "partials/testimonials.html" %}
    {% include "partials/qa-center-advantages.html" %}
    <!-- BEGIN content-layer-1 -->
    <div class="content-layer-1">
      {% include "partials/callback.html" %}
      {% include "partials/faq.html" %}
      {% include "partials/course-contacts.html" %}
    </div>
    <!-- END content-layer-1 -->
  </div>
  <!-- END content-wrapper -->

  {% include "partials/footer.html" %}

  <!-- BEGIN modal -->
  {% include "partials/modal/video.html" %}
  {% include "partials/modal/callback.html" %}
  {% include "partials/modal/coaches.html" %}
  <!-- END modal -->
</div>
<!-- END out -->
{% endblock %}
