{% set bodyClass = "main-page" %}
{% set pageScripts = ['js/main-page.js'] %}
{% extends "layouts/layout.html" %}
{% import "partials/mixins.html" as mixins %}

{% block content %}
{% include "partials/preloader.html" %}
<!-- BEGIN out -->
<div class="out">
  {% include "partials/header.html" %}
  {% include "partials/toparea.html" %}

  <!-- BEGIN content-wrapper -->
  <div class="content-wrapper">
    {% include "partials/facts.html" %}
    {% include "partials/stats.html" %}
    {% include "partials/salary.html" %}
    {% include "partials/courses.html" %}
    {% include "partials/advantages.html" %}
    <!-- BEGIN content-layer-1 -->
    <div class="content-layer-1">
      {% include "partials/nomination.html" %}
      {% include "partials/reasons.html" %}
      {% include "partials/companies.html" %}
      {% include "partials/testimonials.html" %}
      {% include "partials/callback.html" %}
      {% include "partials/partners.html" %}
      {% include "partials/faq.html" %}
      {% include "partials/question.html" %}
      {% include "partials/news.html" %}
      {% include "partials/contacts.html" %}
    </div>
    <!-- END content-layer-1 -->
  </div>
  <!-- END content-wrapper -->

  {% include "partials/footer.html" %}

  <!-- BEGIN modal -->
  {% include "partials/modal/video.html" %}
  {% include "partials/modal/callback.html" %}
  <!-- END modal -->
</div>
<!-- END out -->
{% endblock %}
